@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));
@custom-variant mobile (@media (width <= 40rem)); /* ～640px */
@custom-variant desktop (@media (width > 64rem)); /* 1024px 超～ */

:where(body) {
  overscroll-behavior-y: none;
  font-family:
    "Noto Sans JP", "Helvetica Neue", Helvetica, Arial,
    "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "Hiragino Sans", Meiryo,
    sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  font-optical-sizing: auto;
  /*color: var(--color-text-base);*/
  /*background-color: var(--color-bg-base);*/
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer components {
  /* 子孫のAタグにデフォルトのリンクスタイルを設定する */
  .link-text-wrapper {
    a {
      @apply text-main-blue underline;
    }
  }
  /* Aタグにデフォルトのリンクスタイルを設定する */
  .link-text {
    @apply text-main-blue underline;
  }
}

:root {
  /* shadcnで使われる値 */
  --background: var(--color-main-bg);
  --foreground: var(--color-main-text);
  --card: var(--color-main-bg);
  --card-foreground: var(--color-main-text);
  --popover: var(--color-main-bg);
  --popover-foreground: var(--color-main-text);
  --primary: var(--color-main-text);
  --primary-foreground: var(--color-sub-bg);
  --secondary: var(--color-sub-bg);
  --secondary-foreground: var(--color-main-text);
  --muted: var(--color-sub-bg);
  --muted-foreground: var(--color-sub-text);
  --accent: var(--color-sub-bg);
  --accent-foreground: var(--color-main-text);
  --destructive: var(--color-main-red);
  --border: var(--color-main-border);
  --input: var(--color-main-border);
  --ring: var(--color-zinc-400);

  /* shadcnで使われる値だが、ここから先は使われない想定 */
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: var(--color-zinc-50);
  --sidebar-foreground: var(--color-zinc-950);
  --sidebar-primary: var(--color-zinc-900);
  --sidebar-primary-foreground: var(--color-zinc-50);
  --sidebar-accent: var(--color-thin-bg);
  --sidebar-accent-foreground: var(--color-zinc-900);
  --sidebar-border: var(--color-zinc-200);
  --sidebar-ring: var(--color-zinc-400);
}

.dark {
  --background: var(--color-zinc-950);
  --foreground: var(--color-zinc-50);
  --card: var(--color-zinc-900);
  --card-foreground: var(--color-zinc-50);
  --popover: var(--color-zinc-900);
  --popover-foreground: var(--color-zinc-50);
  --primary: var(--color-zinc-200);
  --primary-foreground: var(--color-zinc-900);
  --secondary: var(--color-zinc-800);
  --secondary-foreground: var(--color-zinc-50);
  --muted: var(--color-zinc-800);
  --muted-foreground: var(--color-zinc-400);
  --accent: var(--color-zinc-800);
  --accent-foreground: var(--color-zinc-50);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: var(--color-zinc-900);
  --sidebar-foreground: var(--color-zinc-50);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: var(--color-zinc-50);
  --sidebar-accent: var(--color-zinc-800);
  --sidebar-accent-foreground: var(--color-zinc-50);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  .card-mt {
    @apply mt-3 sm:mt-6;
  }
  .basic-page {
    width: min(100%, max(1024px, 100vw - var(--sidebar-width)));
    @apply mx-auto p-1 sm:p-4;
  }
  h1 {
    @apply text-2xl font-bold;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
